.button, .button_outline, .button_ghost {
  padding: 8px 12px;
  color: var(--foreground);
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  column-gap: 16px;
  border-radius: var(--radius);
}

.button_ghost:hover, .button_outline:hover {
  background-color: var(--primary);
}

.button_ghost, .button_outline {
  background-color: transparent;
}

.button {
  background-color: var(--primary);
}

.button_outline {
  border: 1px var(--primary) solid;
}
