@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("./themes.css");

:focus {
  outline: unset;
}

::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  border: unset;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--foreground);
}

a,
p,
li,
span,
b,
strong,
em,
figcaption,
input {
  color: var(--muted-foreground);
  font-weight: 500;
}

a:hover {
  color: #3b82f6;
}

/* a:hover {
  color: #60a5fa;
} */

input {
  background-color: inherit;
}

a, button {
  cursor: pointer;
}