#email,#username{
    color: var(--foreground);
    margin-top: 10px;
    margin-bottom: 10px;
    width: 96%;
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;
    background-color: var(--input);
    border: 1px var(--muted-foreground) solid;
}
#email:hover,#username:hover {
  border: 2px var(--ring) solid;
}
#email:focus,#username:focus {
  border: 2px var(--ring) solid;
  outline: none;
}