body {
    background-color: var(--background);
}

.isicontent {
    background-color: var(--secondary);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px var(--border);
    width: 50%;
    margin: 0 auto;
    border: 2px solid var(--foreground);
    width: 500px;
    height: 300px;
}

.paragraf {
    color: var(--foreground);
    text-align: center;
    font-size: 30px;
    padding: 72px;
}

.menuutama {
    background-color: var(--popover-foreground);
    color: var(--muted);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.menuutama:hover {
    background-color: var(--sidebar-accent-foreground);
}
