.sidebar {
  width: 288px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  background-color: #18181b;
  padding: 16px;
  height: 100%;
  overflow-y: auto;
  border-radius: var(--radius);
}

.sidebar section {
  padding-bottom: 16px;
  border-bottom: 2px var(--border) solid;
}

.sidebar h4 {
  margin-bottom: 8px;
}