.content {
  grid-area: content;
  display: grid;
  flex-direction: column;

}




/* GROUPING */
aside, .content {
  overflow-y: auto;
}

header, aside, main, footer{
  background-color: var(--background);
}

aside, main, footer {
  padding: 24px;
}



/* HEADER */
header#header {
  grid-area: header;
  background-color: var(--background);
  border-bottom: 1px var(--border) solid;
}

header#header .header_flex {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  row-gap: 16px;
}

header#header .header_flex .header_logo {
  font-size: 20px;
  font-weight: 500;
}

header#header .header_flex .header_logo > span {
  color: var(--primary);
}

header#header .header_flex .header_search label {
  position: relative;
}

header#header .header_flex .header_search label > i {
  position: absolute;
  top: 3px;
  left: 14px;
}

header#header .header_flex .header_search input {
  font-size: 16px;
  border: 1px var(--border) solid;
  padding: 8px 16px 8px 48px;
  border-radius: var(--radius);
}

header#header .header_flex .header_search input:focus {
  outline: 1px var(--primary) solid;
}

header#header .header_flex .header_cta {
  display: flex;
  column-gap: 12px;
}




/* SIDEBAR */
aside {
  grid-area: sidebar;
  border-right: 1px var(--border) solid;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

aside ul {
  margin-top: 8px;
}




/* MAIN */
/* main {
  height: 100%;
} */




/* FOOTER */
footer {
  display: flex;
  column-gap: 16px;
  border-top: 1px var(--border) solid;
  margin-top: auto;
}

footer section {
  flex: 1;
}

footer section ul {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin-top: 8px;
}

footer section:nth-child(1) {
  display: flex;
  flex-direction: column;
  row-gap: 8px  ;
}

footer section:nth-child(1) span:nth-child(2) {
  font-size: 14px;
}